html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: black;
  font-family: 'Roboto', sans-serif;
}

.password-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.password-card {
  background-color: #1e1e1e;
  display: flex;
  padding: 40px 60px;
  border-radius: 20px;
  width: 700px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
}

.password-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.logo {
  width: 40px;
  margin-bottom: 10px;
}

.gmail-text {
  color: rgb(180, 180, 180);
  font-size: 1.6rem;
  margin-bottom: 30px;
  position: relative;
  top:0px;
  left:40px;
}

.password-title {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.password-subtitle {
  color: #aaa;
  font-size: 0.9rem;
  margin-bottom: 20px;
}

.password-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 40px;
}

.password-input {
  background-color: black;
  color: white;
  border: 1px solid #1a73e8;
  border-radius: 4px;
  padding: 10px;
  font-size: 1rem;
  width: 250px;
  margin-bottom: 15px;
}

.button-row {
  display: flex;
  justify-content: flex-end;
}

.next-btn {
  background-color: #1a73e8;
  color: white;
  padding: 10px 25px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.next-btn:hover {
  background-color: #0f59c8;
}